<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить квест</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/add-quest-account.css}" rel="stylesheet">
</head>
<body>
<header th:insert="~{header-fragment :: head}"></header>

<section>
  <input type="hidden" id="onlySecondPageError" th:value="${questForm.onlySecondPageError}">

  <form th:object="${questForm}" th:action="@{/quests/save-quest}" method="post">

    <div class="container form" id="firstPage">
      <div class="title-form">
        <h2>Добавить квест</h2>
        <h6 class="monospace">Шаг 1 из 2-х</h6>
      </div>

      <div class="row">
        <label for="inputName" class="col-5 col-form-label">Название:</label>
        <div class="col-7">
          <input type="text" maxlength="45" class="form-control" id="inputName" th:field="*{questName}">
          <div class="error-message" th:if="${#fields.hasErrors('questName')}" th:errors="*{questName}"></div>
        </div>
      </div>

      <div class="row">
        <label class="col-5 col-form-label">Кол-во человек: (от-до)</label>
        <div class="col-2-5">
          <input class="form-control" type="number" max="999" min="-999" th:field="*{minPersons}">
          <div class="error-message-peoples" th:if="${#fields.hasErrors('minPersons')}"
               th:errors="*{minPersons}"></div>
        </div>
        <div class="col-2-5">
          <input class="form-control" type="number" max="999" min="-999" th:field="*{maxPersons}">
          <div class="error-message-peoples" th:if="${#fields.hasErrors('maxPersons')}"
               th:errors="*{maxPersons}"></div>
        </div>
        <div th:if="${#fields.hasErrors('errorCountPersons')}">
          <div class="error-message" th:errors="*{errorCountPersons}"></div>
        </div>
      </div>

      <div class="row">
        <label class="col-5 col-form-label">Доступные статусы</label>
        <div class="col">
          <div th:each="status : ${defaultStatuses}">
            <div class="form-check">
              <input th:type="checkbox"
                     th:class="${status.name == 'NEW_RESERVE' || status.name == 'CANCEL'}
                                   ? 'form-check-input check-default'
                                   : 'form-check-input'"
                     th:field="*{statuses}" th:value="${status}">
              <label th:text="${status.text}"></label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <label for="inputAutoBlok" class="col-5 col-form-label">Автоблокировка:</label>
        <div class="col-5">
          <input type="time" class="form-control" id="inputAutoBlok" th:field="*{autoBlock}">
          <div class="error-message" th:if="${#fields.hasErrors('autoBlock')}" th:errors="*{autoBlock}"></div>
        </div>
      </div>

      <div class="row" th:if="${not #lists.isEmpty(allAccounts)}">
        <label class="col-5 col-form-label">Добавить пользователей</label>
        <div class="col">
          <div class="form-check" th:each="account : ${allAccounts}">
            <input th:type="checkbox"
                   th:class="${account.role.name == 'ROLE_OWNER'}
                                   ? 'form-check-input check-default'
                                   : 'form-check-input'"
                   th:field="*{accounts}" th:value="${account.id}">
            <label th:text="${account.firstName} + ' ' + ${account.lastName}"></label>
          </div>
        </div>
      </div>

      <button id="onward" class="btn btn-primary col-12" type="button">Далее → Шаг 2</button>
    </div>

    <!--    ********************************************SLOTLIST WINDOW***************************************-->

    <div class="container form" id="secondPage">
      <div class="title-form">
        <h2>Сетка квеста</h2>
        <h6 class="monospace">Шаг 2 из 2-х</h6>
        <label for="radio-slotlist">Выберете шаблон сетки квестов</label>
        <div id="radio-slotlist" th:each="type : ${typeBuilds}">
          <input type="radio" name="typeBuilder" th:field="*{typeBuild}" th:value="${type}">
          <label th:text="${type.text}"></label>
        </div>
      </div>

      <input type="hidden" id="slotlistJson" th:value="${slotListJSON}">

      <div id="slotlistForm">
        <div class="oneDay">
          <div class="titleDay container-for-buttons">
            <h4 class="title-text"></h4>
            <div class="button-group">
              <button type="button" class="button-copy btn btn-outline-primary btn-sm">Скопировать</button>
              <button type="button" class="button-paste btn btn-outline-success btn-sm">Вставить</button>
            </div>
          </div>

          <div class="oneSlotlist">
            <div class="row oneRow">
              <label for="input-time" class="col-2 col-form-label">Время:</label>
              <div class="col-3">
                <input type="time" class="form-control" id="input-time" name="" value="">
              </div>

              <label for="input-price" class="col-2-5 col-form-label">Стоимость:</label>
              <div class="col-2-5">
                <input type="number" min="0" max="100000" class="form-control" id="input-price" name=""
                       value="">
              </div>

              <div class="col-1">
                <img class="plus-icon" src="/images/Pictogrammers-Material-Playlist-plus.48.png"
                     width="24" height="24">
              </div>
              <div class="col-1">
                <img class="del-icon" src="/images/Pictogrammers-Material-Delete-alert.48.png"
                     width="24" height="24">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="error-message-block row col-12" th:if="${#fields.hasErrors('global')}"
           th:each="err : ${#fields.errors('global')}" th:text="${err}">
      </div>

      <div class="row">
        <button id="back" class="btn btn-outline-secondary col-6" type="button">Назад → Шаг 1</button>
        <button class="btn btn-primary row col-6" type="submit">Сохранить</button>
      </div>
    </div>
  </form>
</section>

<script src="/js/add-quest-form.js"></script>
</body>
</html>