<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список ваших квестов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/quests/quest-list-style.css}" rel="stylesheet">
</head>
<body>
<header th:insert="~{header-fragment :: head}"></header>

<section class="container">

    <table>
        <thead>
        <form th:action="@{/add-quest-first-page}" method="post">
            <input type="hidden" name="admin" th:value="${admin.id}">
            <h3 class="add-quest">Список ваших квестов
                <button class="btn btn-outline-primary" type="submit">+ Добавить квест</button>
            </h3>
        </form>
        </thead>
        <tbody>
        <tr class="quest-functions" th:each="quest : ${quests}">
            <td>
                <h3 class="quest-text" th:text="${quest.questName}"></h3>
            </td>
            <td>
                <form class="buttons" th:action="@{/quest-info}" method="post">
                    <input type="hidden" name="quest" th:value="${quest.id}">
                    <button class="btn btn-secondary" type="submit">Подробнее</button>
                </form>
            </td>
            <td>
                <form class="buttons" th:action="@{/delete-quest}" method="post">
                    <input type="hidden" name="quest" th:value="${quest.id}">
                    <button class="btn btn-danger" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</section>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>