body {
    background-image: url("../images/so-white.png");
    background-repeat: repeat;
}

.form {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.4rem;
    padding: 1.5em!important;
    margin: 1rem;
    width: 35rem!important;
}

.row {
    padding: 0.75em;
}

.title-form {
    padding-left: 0.75em;
}

.monospace {
    font-family: monospace;
}

.col-2-5 {
    flex: 0 0 auto;
    width: 20.8333333333%!important;
}

.check-default {
    pointer-events: none;
}

.error-message {
    font-size: 14px;
    color: red;
}

.error-message-peoples {
    font-size: 12px;
    color: red;
}

#secondPage {
    display: none;
}

.error-message-block {
    font-size: 15px;
    color: red;
    background-color: #f2f2f2;
    border-left: 3px solid indianred;
    padding: 9px;
}