body {
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/so-white.png');
    background-repeat: repeat;
}

.container {
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
    height: 100vh;
}

.form {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.button {
    width: 100%;
}

.form-control {
    width: 18rem;
}

.form-control::placeholder {
    font-size: .88em;
    font-style: italic;
}

.message {
    padding: .45rem .45rem;
}

.login {
    text-align: center;
    text-indent: -0.3rem;
}

.error {
    background-color: #FFF5EE;
    border-left: .3rem solid indianred;
}

.logout {
    background-color: #FFFFF0;
    border-left: .3rem solid #32CD32;
}

.btn-primary, .btn-success {
    padding: .45rem 1rem;
    font-size: 1.15rem;
    border-radius: .28rem;
    margin-top: .5rem;
}

.btn-link {
    box-shadow: none!important;
    border: none!important;
}

.back {
    padding: 0;
    margin-top: -1em;
}