/* Стили для кнопок-слотов */
.slot-button {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    cursor: pointer;
    font-size: 15px;
}

/* Стиль для рамки вокруг кнопки при наведении */
.slot-button:hover {
    /*border: 2px solid #198754;*/
    /*border: 3px solid #86b7fe;*/
    border-color: #0d6efd;
    outline: 3px solid #86b7fe;
}

/*.my-container {*/
/*    margin-left: 0px;*/
/*}*/

.quest-name {
    /*border: 2px solid #198754;*/
    /*background-color: #f7f7f7;*/
    border-radius: 5px;
    padding-left: 11px;
    background-color: #e4e4e4;
}

#slot-container {
    /*background-color: #FAEBD7;*/
    /*background-color: #DCDCDC;*/
}

#date h3 {
    /*margin-top: -5px;*/
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    width: fit-content;
}

#dateButton {
    margin-top: 5px;
}

/* Стили для разных статусов */
.slot-button[data-status="NEW_RESERVE"] {
    background-color: palevioletred;
}

.slot-button[data-status="BLOCK"] {
    background-color: darkgray;
}

.slot-button[data-status="CANCEL"] {
    background-color: darksalmon;
}

.slot-button[data-status="NOT_COME"] {
    background-color: #F0E68C;
}

.slot-button[data-status="CONFIRMED"] {
    background-color: #87CEEB;
}

.slot-button[data-status="COMPLETED"] {
    background-color: #90EE90;
}