.buttons {
    margin: 5px;
}

.quest-text {
    margin-right: 5px;
    margin-left: 20px;
}

.add-quest {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    width: fit-content;
}

.quest-functions {
    border-bottom: 1px solid black;
}

.font-style {
    /*font-family: Monospaced, monospace;*/
}