<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список квестов</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" id="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{slot-list}">Reservations</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{quest-list}">Квесты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Клиенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Чёрный список</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Учетная запись</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="container">

    <table>
        <thead>
        <form th:action="@{/add-quest}" method="get">
            <h2>Список ваших квестов
                <button class="btn btn-outline-primary" type="submit" formmethod="get">+ Добавить квест</button>
            </h2>
        </form>
        </thead>
        <tbody>
        <tr th:each="quest : ${quests}">
            <td>
                <h3 th:text="${quest.questName}"></h3>
            </td>
            <td>
                <form th:action="@{/quest-info/{questId}(questId=${quest.id})}" method="get">
                    <button class="btn btn-secondary" type="submit" formmethod="get">Редактировать</button>
                </form>
            </td>
            <td>
                <form th:action="@{/delete-quest}" method="post">
                    <button class="btn btn-danger" type="submit" formmethod="post">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</section>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>