/* Стили для кнопок-слотов */
.slot-button {
    display: inline-block;
    margin: 10px;
    border: 1px solid #6c757d;
    /*border: 1px solid #ccc;*/
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    background-color: #f7f7f7;
    border-radius: 5px;
}

/* Стиль для рамки вокруг кнопки при наведении */
.slot-button.custom-button:hover {
    border-color: #0d6efd;
    outline: 3px solid #86b7fe;
    cursor: pointer;
}

.slot-button.custom-button {
    padding: 10px;
}

.slot-button.custom-status {
    cursor: default;
    padding: 5px;
}

.quest-name {
    /*border: 2px solid #198754;*/
    background-color: #f2f2f2;
    border-top: 1px solid black;
    /*border-radius: 5px;*/
    padding-left: 11px;
    /*background-color: #e4e4e4;*/
}

#date {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    width: fit-content;
}

#date-button {
    border-radius: 5px;
}

#input-data {
    width: min-content;
    display: none;
}

#status-info {
    align-items: center;
    padding-left: 11px;
}

/* Стили для разных статусов */
.slot-button[data-status="NEW_RESERVE"] {
    background-color: palevioletred;
}

.slot-button[data-status="BLOCK"] {
    background-color: darkgray;
}

.slot-button[data-status="CANCEL"] {
    background-color: darksalmon;
}

.slot-button[data-status="NOT_COME"] {
    background-color: #F0E68C;
}

.slot-button[data-status="CONFIRMED"] {
    background-color: #ADD8E6;
}

.slot-button[data-status="COMPLETED"] {
    background-color: #90EE90;
}

.back-forward {
    margin-right: 8px;
}